html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body.bg {
    width: 100%;
    height: 100%;
    background: #00A0AF url(../img/i-planned-login-background.jpg) no-repeat center;
    background-size: cover;
    color: #006A74;
    font: 100% 'Open Sans', Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.form_block {
	position: relative;
    max-width: 600px;
    background-color: #D9D9D9;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .7);
    transform: translateY(-50%);
/*    transform: translateY(calc(-50% - 25px));*/
    margin: 0 auto;
    margin-top: 80px;
    margin-top: 50vh;
/*    margin-top: calc(50vh - 50px/2);*/
    /*    margin-top: 330px;*/
    padding: 27px 40px 38px;
    box-sizing: border-box;
}

img.logo {
    display: block;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 10px 0;
}

label.label {
    display: block;
    font: 18px 'Open Sans', Arial, Verdana, sans-serif;
}

input[type="text"].input_wht,
input[type="password"].input_wht {
    width: 100%;
    max-width: 520px;
    background: #fff;
    color: #000;
    font: 18px 'Open Sans', Arial, Verdana, sans-serif;
    border: none;
    margin: 6px 0;
    padding: 9px;
    box-sizing: border-box;
}

.checkbox_block {
    display: inline-block;
    width: 67%;
    white-space: nowrap;
    padding: 10px 0;
}

.checkbox_block input[type="checkbox"] {
    display: none;
}

.checkbox_block .label1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 8px 9px 0 0;
    transition: background-color .2s;
}

.checkbox_block input[type="checkbox"]:checked + .label1 {
    background: #fff url(../img/check_mark.png) no-repeat center;
    background-size: 30px;
}

.checkbox_block .label1:hover,
.checkbox_block input[type="checkbox"]:checked + .label1:hover {
    background-color: #dff;
}

.checkbox_block label {
    cursor: pointer;
}

.checkbox_block .label2 {
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    vertical-align: bottom;
    padding-left: 2px;
}

a.forgot_pass {
    color: #006A74;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    vertical-align: super;
    transition: .2s;
}

a.forgot_pass:hover {
    color: #003d42;
}

input[type="submit"].log_in_btn {
    display: block;
    position: absolute;
    height: 50px;
    width: 100%;
    max-width: 145px;
    background-color: #006A74;
    color: #fff;
    font: 18px 'Open Sans', Arial, Verdana, sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    left: 50%;
    bottom: -26px;
    padding-bottom: 5px;
    transform: translateX(-50%);
    transition: .2s;
}

input[type="submit"].log_in_btn:hover {
    background-color: #003d42;
}